body {
  background-color: hsl(221, 100%, 96%);
}
.container {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
}

.result,
.summary {
  width: 300px;
  height: 500px;
  padding: 15px;
}

.result {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 30px;
}

.summary {
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
